@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;

// fonts
$ff-jakarta-sans: 'Plus Jakarta Sans', sans-serif;

$fw-reg: 500;
$fw-bold: 800;

$fs-def: 1rem;
$fs-100: $fs-def * 0.5rem;

$transition: 0.3s ease-in-out;

$debug: 1px solid #000;

body {
  font-size: $fs-def - 0.15rem;
  font-family: $ff-jakarta-sans;
  background-color: map-get($colors, l-100);
}

button {
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

main {
  width: min(100% - 2rem, 38rem);
  margin-inline: auto;
  margin-block: 1.5rem;
  background-color: map-get($colors, l-200);
}

@include ms {
  body {
    @include flex();
  }
  main {
    box-shadow: 0 0 60px hsl(205, 33%, 90%);
    padding: 2rem;
    border-radius: 0.6rem;
  }
}
